.card{
    width: 11rem;
    background: teal;
    margin: 5px;
    padding: 0 2px;
    border-radius: 10px;
    animation: bounce 700ms ease-in-out alternate;
    animation-iteration-count: 2;
    overflow-x: hidden;
}
.card:hover img{
    transform: scale(1.04);
}
.card img{
    width: 100%;
    padding-bottom: 7px;
    border-bottom: 2px solid white;
    transition: transform 700ms ease-in-out;
}
.card h4{
    color: rgb(179, 167, 9);
    margin: 1px;
    font-family: cursive;
}
.card p{
    color: white;
    margin: 1px;
}

@keyframes bounce {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.04);
    }
}
.maincard{
    width: 100%;
    text-align: center;
}
.cards{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.maincard h3{
    font-size: 30px;
    margin: 0 auto;
    font-family: cursive;
}
.maincard input{
    margin: 10px;
    padding: 7px;
    width: 90%;
}